
  .headicon {
    z-index: 1;
    margin-top: -690px;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 30px;


}

.navhead {
    width: 600px;
    padding: 20px;
    padding-top: 50px;


}
  
h2.trang  {
      letter-spacing: 10px;
      /* font-family: 'Rock Salt', cursive; */
      font-family: 'Oswald', sans-serif;
      font-weight: bold;
      font-size: 100px;
      margin-left: -340px;
      margin-top: 140px;
      opacity: 0.7;
      color: white;
      filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.1));


  }


h4.front {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 70px;
    font-weight: bolder;
    letter-spacing: 4px;
    width: 1000px;
    color: antiquewhite;
    /* opacity: 0.9; */
    margin-top: 1%;
    filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.1));
    margin-left: -380px;
 

    
}


  p.light.center-align {
    /* font-family: 'Dawning of a New Day', cursive; */
    font-size: 25px;
    letter-spacing: 3px;
    font-family: 'Homemade Apple', cursive;
    /* margin-top: 20px; */
    color: white;
    margin-right: 170px;
    filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.1));

   


  }


  h5.center {
    font-size: 18px;
    letter-spacing: 2px;
    color: grey;
    font-family: 'Oswald', sans-serif;



}









/* newparallax */


.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
  }
  
  .section {

    position: relative;
    height:100vh;
  
    /* For text formatting. */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: -30px;
  
  }
  
  .parallax::after {

    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }
  
  /* The styling for the static div. */
  .staticme {
    background: white;
    opacity: 0.9;
    height: 60vh;

  }

  .staticquote {
    background: white;
    opacity: 0.9;
    height: 20vh;
    margin-top: 0px;

  }

  .staticprojects {
    background: white;
    opacity: 0.96;
    margin-top: -350px;
    height: 100vh;

  }

  .staticfooter {
      height: 20vh;
       background-image: url('../../images/water.jpg');
       -webkit-filter: brightness(85%);
       

    
  }


  .bg1::after {
    background-image: url('../../images/cp1.jpg');
    -webkit-filter: brightness(85%);
  }
  
  .bg2::after {
    background-image: url('../../images/half.jpg');
    -webkit-filter: brightness(88%);
    margin-top: -200px;
  }
  
  .bg3::after {
    background-image: url('../../images/water.jpg');
    -webkit-filter: brightness(85%);
    
    

  }


/* footer  */
.page-footer {
    padding-bottom: -2px;
    padding-top: 8px;
    background-color: slategray;

}

.icon {
    padding-right: 8px;
    padding-left: 8px;
    align-content: center;
    margin-top: 50px; 
    
}


.copyright {
    color: white;
    margin-top: 8px;
    font-size: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 2px;

}

.footicon {
    margin-top: 50px;
}